
*{
    box-sizing: border-box;
}
    h1{
    margin-bottom:15px;
    text-align: center;
    color: #ed5252;
    font-size: 30px;

}
section {
    position:relative;
    padding: 15px;
    width: 100%;
    
    
}
div{
    position:relative;
    background-color: #f8adb2;
    border:3px solid black;
    width:100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}
.head-1{
    float:right;
    width:100px;
    padding:5px;
    margin:-3px -3px 0px;
    border:3.5px solid black;
    text-align:center;
    font-size:125%;
    font-weight:bold;
    background-color: #9cfb7d;
    
}
.head-2{
    float: right;
    width: 100px;
    padding: 5px;
    margin: -3px -3px 0px;
    border: 3.5px solid black;
    text-align: center;
    font-size: 125%;
    font-weight: bold;
    background-color: #f9fd81;
}
.head-3{
    float: right;
    width: 100px;
    padding: 5px;
    margin: -3px -3px 0px;
    border: 3.5px solid black;
    text-align: center;
    font-size: 125%;
    font-weight: bold;
    background-color: #fb9860;
}
.content {
    padding: 5px;
    border: none;
 font-family: Helvetica;
    color: black;
    margin: 3px ;
    height:150px;
    overflow: hidden;
}
.row {
    width: 90%;
}

 /*desktop version*/
 @media (min-width: 992px) {
    .column-lg-4 {
        float: left;
        width: 33.33%;
    }
}

/*tablet version*/
@media (min-width: 768px) and (max-width: 991px) {
    .colmn-md-6 {
        float: left;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }

    .colmn-md-12 {
        float: left;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}

/*mobile version*/
@media (max-width: 767px) {
    .colmn-sm-12 {
        float:left;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}